<%= render "shared/top_navbar" %>


<div class="container">
	<p>Hello <%= current_user.email %></p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
	<div class="current-courses">
		<h1>Current Courses</h1>
		<img class="current-courses-image" src="#">
	</div>

	<div class="starred-courses">
		<h1>Starred Courses</h1>
		<ul>
			<li class="starred-courses-list">List of Courses</li>
		</ul>
	</div>

	<div class="completed-courses">
		<h1>Completed Courses</h1>
		<ul>
			<li class="completed-courses-list">List of Courses</li>
		</ul>
	</div>
</div>
