<div class="nav-bar">
  <nav class="nav">
    <ul>
      <li><%= link_to "Edifyin", root_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Dashboard", user_dashboard_path(current_user) %></li>
      <% else %>
        <li><a href="#loginmodal" class="flatbtn" id="loginmodaltrigger">Log In</a></li>
        <li><a href="#signupmodal" class="flatbtn" id="signupmodaltrigger">Sign Up</a></li>
      <% end %>
    </ul>
  </nav>
</div>



<!--  link_to "Login", new_user_session_path, class: "login-link" -->