<div class="nav-bar">
  <nav class="nav">
    <ul>
      <li>Edufyme</li>
      <li>Login</li>
      <li>School</li>
      <li>Category</li>
    </ul>
  </nav>
</div>


<div class="featured-courses-title">
  <h4>Featured Courses</h4>
</div>


<div class="courses-container">

  <div class="course">
    <div class="course-image" id="image-1">
    </div>
    <div class="course-description">
    </div>
  </div>

  <div class="course">
    <div class="course-image" id="image-1">
    </div>
    <div class="course-description">
    </div>
  </div>

  <div class="course">
    <div class="course-image" id="image-1">
    </div>
    <div class="course-description">
    </div>
  </div>

</div>

