<%= render "shared/top_navbar" %>
<div class="featured-courses-title">
  <h4>Featured Courses</h4>
</div>

<div class="courses-container">
    <div class="course-image">
      <div class="course-description">
      </div>
    </div>
    <div class="course-image">
      <div class="course-description">
      </div>
    </div>
    <div class="course-image">
      <div class="course-description">
      </div>
    </div>
    <div class="course-image">
      <div class="course-description">
      </div>
    </div>
    <div class="course-image">
      <div class="course-description">
      </div>
    </div>
    <div class="course-image">
      <div class="course-description">
      </div>
    </div>
</div>

