<div class="nav-bar">
  <nav class="nav">
    <ul>
      <li>Edufyme</li>
      <li>Login</li>
      <li>School</li>
      <li>Category</li>
    </ul>
  </nav>
</div>

<div class="featured-courses-title">
  <h4>Featured Courses</h4>
</div>

<div class="course-images-container">
  <div class="course-image">

  </div>
  <div class="course-image">

  </div>
  <div class="course-image">

  </div>
</div>