/* scrollbar infinite scroll bugfix */
html {
  overflow-y: scroll;
  height: 101%;
}

* { margin: 0; padding: 0; }

.container, .featured-courses-title {
  margin-top: 106px;
  font-family: 'ProximaNova-Light', sans-serif;
  src: url('/fonts/ProximaNova-Light.otf');
  /*font-family: 'Proxima Nova','Lucida Grande','Lucida Sans Unicode','Arial', sans-serif;*/
  text-rendering: optimizeLegibility;
  font-size: 80%;
  color: #494d55;
}

.nav-bar {
  font-size: small;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: #dadfe1 1px solid;
  background-color: #FFFFFF;
  z-index: 100;
  height: 80px;
}

.logo p {
  left: 0;
  width: 80px;
  height: 30px;
}

nav {
  margin-top: 25px;
  text-align: right;
}

nav li {
  display: inline-block;
  padding-right: 30px;
}

.featured-courses-title h3{
  text-align: center;
  margin-bottom: 80px;
  font-family: 'ProximaNova-Light', sans-serif;
  src: url('/fonts/ProximaNova-Light.otf');
}

.courses-container {
  /*display: inline-block;*/
  margin: 0 auto;
  height: 90%;
  width: 90%;
  max-width: 1000px;
  min-width: 600px;
  /*background: yellow;*/
}

.course {
  padding: 0;
  display: inline-block;
  position: relative;
  margin: 15px;
  /*width: 30%;*/
  width: 300px;
  height: 250px;
  background-color: #fff;
  border: #dadfe1 1px solid;
  border-radius: 5px;
}

.star {
  display: none;
  margin-left: 238px;
  position: absolute;
  z-index: 100;
  border-radius: 5px;
}

.course img {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: #dadfe1 1px solid;
}

.course-image {
  position: relative;
  text-align: center;
  width: 100%;
  height: 70%;
}

.course-description {
  position: relative;
  height: 75px;
  width: 100%;
  color: #2E3632;
  text-decoration: none;
}

.course-description a{
  font-size: medium;
}

.overlay {
  display: none;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 100;
  opacity: 0.5;
}

.modal {
  display: none;
  position: fixed;
  z-index: 11000;
  right: 25%;
  left: 25%;
  margin: 20px 0;
  top: 80px;
  border: #dadfe1 1px solid;
  border-radius: 5px;
  background-color: #FFFFFF;
/*  display: none;
  margin: 0 auto;
  top: 25%;
  left: 25%;
  position: absolute;
  float: center;
  width: 800px;
  height: 870px;
  min-width: 300px;
  border: #dadfe1 1px solid;
  border-radius: 5px;
  z-index: 101;
  background-color: #FFFFFF;*/
/*  width: 80%;
  height: 80%;*/
}

.exit-modal {
  float: right;
  border-radius: 30px;
}

.course:hover {
  background-color: #FAFAFA;
}

#load-ajax {
  display: none;
  text-align: center;
}


/* OVERLAY MAIN COURSE INFO: LEFT SIDE 2/3 DISPLAY */
.overlay-course-main, .current-courses {
  display: inline-block;
  padding: 4px;
  width: 66%;
  height: 100%;
}

.overlay-course-main img {
  width: 100%;
  border: #dadfe1 1px solid;
  border-radius: 5px;
}

.overlay-course-description {
  width: 100%;
  height: 40%;
  border: #dadfe1 1px solid;
  border-radius: 5px;
  padding: 5px;
}


/* OVERLAY SIDEBAR: RIGHT SIDE 1/3 DISPLAY */
.overlay-course-sidebar, .starred-courses {
  float: right;
  display: inline-block;
  width: 33%;
  height: 100%;
  padding: 4px;
}

.overlay-add-course, .overlay-remove-course, .star-course, .unstar-course {
  width: 100%;
  border-radius: 5px;
  margin: 4px 0;
}

.overlay-ratings {
  /*margin: 0 5px;*/
  /*width: 96%;*/
  width: 100%;
  display: inline-block;
  height: 10%;
  border: #dadfe1 1px solid;
  border-radius: 5px;
  margin: 4px 0;
  padding: 5px;
}

.overlay-prerequisites {
  display: inline-block;
  width: 100%;
  height: 30%;
  border: #dadfe1 1px solid;
  border-radius: 5px;
  margin: 4px 0;
  padding: 5px;
}

.overlay-teacher {
  display: inline-block;
  width: 100%;
  height: 50%;
  border: #dadfe1 1px solid;
  border-radius: 5px;
  margin: 4px 0;
}

.overlay-teacher img {
  /*display: inline;*/
  width: 30%;
  border: #dadfe1 1px solid;
  border-radius: 5px;
}

.overlay-teacher-bio {
  display: inline;
  width: 60%;
  padding: 5px;
}

.hidden {
  display: none;
}

nav h1 {
  text-align: center;
  margin: auto;
}

.user-current-courses-title h3 {
  text-align: center;
}

.user-completed-courses-title h3 {
  text-align: center;
}

.user-courses-title h3 {
  text-align: center;
}
/*DASHBOARD - logig mixed into 1/3 2/3 layout for overlay*/
.completed-courses {
  width: 100%;
  height: 100%;
}

/***DONT ADD CSS BELOW THIS HUGE LINE! BAD THINGS MAY HAPPEN!!!! **********************/
/************************************LEAN MODAL LOGIN********************************/

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#loginmodal, #signupmodal {
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#loginform, #signupform { /* no default styles */ }

#loginform label, #signupform label { display: inline; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }


.txtfield {
  display: block;
  width: 100%;
  padding: 6px 5px;
  margin-bottom: 15px;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  color: #7988a3;
  font-size: 1.4em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
  background-image: -webkit-linear-gradient(top, #edf3f9, #fff);
  background-image: -moz-linear-gradient(top, #edf3f9, #fff);
  background-image: -ms-linear-gradient(top, #edf3f9, #fff);
  background-image: -o-linear-gradient(top, #edf3f9, #fff);
  background-image: linear-gradient(top, #edf3f9, #fff);
  border: 1px solid;
  border-color: #abbce8 #c3cae0 #b9c8ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}
