* { margin: 0; padding: 0; }

.nav-bar {
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(100, 100, 100, 1.0);
  z-index: 100;
  height: 80px;
}

nav {
  text-align: right;
}

nav li {
  display: inline-block;
  padding-right: 30px;
}

.featured-courses-title {
  text-align: center;
}

.courses-container{
  margin: 0 auto;
  height: 90%;
  width: 90%;
  max-width: 1000px;
  min-width: 600px;
  background: yellow;
}

.course {
  padding: 0;
  display: inline-block;
  margin: 15px;
  /*width: 30%;*/
  width: 300px;
  height: 250px;
  background: blue;
}

.course img {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.course-image {
  position: relative;
  background: green;
  text-align: center;
  width: 100%;
  height: 70%;
}

.course-description {
  position: relative;
  height: 75px;
  width: 100%;
  background-color: red;
}

.container {
  margin-top: 96px;
}

.overlay {
  display: none;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 100;
  opacity: 0.5;
}

.modal {
  display: none;
  margin: 0 auto;
  top: 25%;
  left: 25%;
  position: absolute;
  float: center;
  background: purple;
  width: 800px;
  height: 800px;
/*  width: 80%;
  height: 80%;*/
  min-width: 300px;
  border: 2px solid white;
  z-index: 101;
}

.exit-modal {
  float: right;
  border-radius: 30px;
}

.course:hover {
  background-color: rgba(200, 100, 50, 0.5);
}

.course-description:hover {
  background-color: orange;
}


/* OVERLAY MAIN COURSE INFO: LEFT SIDE 2/3 DISPLAY */
.overlay-course-main, .current-courses {
  display: inline-block;
  width: 66%;
  height: 100%;
  background: teal;
}

.overlay-course-main img {
  width: 100%;
}

.overlay-course-description {
  width: 100%;
  height: 40%;
  background: gray;
}


/* OVERLAY SIDEBAR: RIGHT SIDE 1/3 DISPLAY */
.overlay-course-sidebar, .starred-courses {
  float: right;
  display: inline-block;
  width: 33%;
  height: 100%;
  background: aqua;
}

.overlay-add-course {
  width: 100%;
}

.overlay-ratings {
  /*margin: 0 5px;*/
  /*width: 96%;*/
  width: 100%;
  display: inline-block;
  height: 10%;
  background: blue;
}

.overlay-prerequisites {
  display: inline-block;
  width: 100%;
  height: 30%;
  background: gray;
}

.overlay-teacher {
  display: inline-block;
  background: white;
  width: 100%;
  height: 40%;
}

.overlay-teacher img {
  /*display: inline;*/
  width: 30%;
}

.overlay-teacher-bio {
  display: inline;
  width: 60%;
}


/*DASHBOARD - logig mixed into 1/3 2/3 layout for overlay*/
.completed-courses {
  background: blue;
  width: 100%;
  height: 100%;
}

/***DONT ADD CSS BELOW THIS HUGE LINE! BAD THINGS MAY HAPPEN!!!! **********************/
/************************************LEAN MODAL LOGIN********************************/

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#loginmodal {
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}

#loginform { /* no default styles */ }

#loginform label { display: block; font-size: 1.1em; font-weight: bold; color: #7c8291; margin-bottom: 3px; }


.txtfield {
  display: block;
  width: 100%;
  padding: 6px 5px;
  margin-bottom: 15px;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  color: #7988a3;
  font-size: 1.4em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
  background-image: -webkit-linear-gradient(top, #edf3f9, #fff);
  background-image: -moz-linear-gradient(top, #edf3f9, #fff);
  background-image: -ms-linear-gradient(top, #edf3f9, #fff);
  background-image: -o-linear-gradient(top, #edf3f9, #fff);
  background-image: linear-gradient(top, #edf3f9, #fff);
  border: 1px solid;
  border-color: #abbce8 #c3cae0 #b9c8ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}
