* { margin: 0; padding: 0; }

.nav-bar {
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(100, 100, 100, 1.0);
  z-index: 100;
  height: 80px;
}

nav {
  text-align: right;
}

nav li {
  display: inline-block;
  padding-right: 30px;
}

.featured-courses-title {
  text-align: center;
}

.courses-container{
  margin: 0 auto;
  height: 90%;
  width: 90%;
  max-width: 1000px;
  min-width: 600px;
  background: yellow;
}

.course {
  padding: 0;
  display: inline-block;
  margin: 15px;
  /*width: 30%;*/
  width: 300px;
  height: 250px;
  background: blue;
}

.course img {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.course-image {
  position: relative;
  background: green;
  text-align: center;
  width: 100%;
  height: 70%;
}

.course-description {
  position: relative;
  height: 75px;
  width: 100%;
  background-color: red;
}

.container {
  margin-top: 96px;
}

.overlay {
  display: none;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 100;
  opacity: 0.5;
}

.modal {
  display: none;
  margin: 0 auto;
  top: 25%;
  left: 25%;
  position: absolute;
  float: center;
  background: purple;
  width: 800px;
  height: 800px;
  border: 2px solid white;
  z-index: 101;
}

.exit-modal {
  float: right;
  border-radius: 30px;
}

.course:hover {
  background-color: rgba(200, 100, 50, 0.5);
}

.course-description:hover {
  background-color: orange;
}

#load-ajax {
  display: none;
  text-align: center;
}

.overlay-course-main {
  display: inline-block;
  width: 66%;
  height: 100%;
  background: teal;
}
.overlay-course-sidebar {
  float: right;
  display: inline-block;
  width: 33%;
  height: 100%;
  background: aqua;
}

.overlay-teacher img {
  display: inline;
  width: 30%;
}

.overlay-teacher-bio {
  float: right;
  width: 60%;
}